name: Update Open API

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

permissions:
  pull-requests: write
  contents: write

jobs:
  updateOpenAPI:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda
      - uses: actions/setup-node@v5.0.0
        with:
          node-version: latest
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - run: pnpm updateOpenAPI
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e
        with:
          add-paths: |
            foxess-api.json
            src/v1.ts
          delete-branch: true
          title: Update OpenAPI
          commit-message: |
            Update to the latest Open API specification.
          token: ${{ secrets.PAT }}
          committer: AutoHippo <auto@hippo.org>
          branch: autohippo/openapi-update