name: Publish Wiki

on:
  release:
    types: [published]
  workflow_dispatch:

permissions:
  contents: write

jobs:

  publish-wiki:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Checkout wiki code
      uses: actions/checkout@v5
      with:
        repository: ${{github.repository}}.wiki
        path: docs

    - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda

    - uses: actions/setup-node@v5.0.0
      with:
        node-version: latest
        cache: pnpm

    - name: get-npm-version
      id: version-after
      uses: martinbeentjes/npm-get-version-action@v1.3.1

    - run: pnpm install --frozen-lockfile

    - run: |
        cd docs
        for i in *; do
          rm -R ${i}
        done

    - run: pnpm wiki

    - run: mv docs/README.md docs/Home.md

    - uses: stefanzweifel/git-auto-commit-action@v6
      with:
        commit_message: Updating documentation for v${{ steps.version-after.outputs.current-version }}
        repository: docs
        commit_user_name: AutoHippo
        commit_user_email: auto@hippo.org 
